In [1]:
import pandas as pd

In [2]:
oil = pd.read_csv("../data/oil.csv")
oil.head()

        dates  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [3]:
transactions = pd.read_csv("../data/transactions.csv")
transactions.head()

        dates  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

In [4]:
holiday_events = pd.read_csv("../data/holidays_events.csv")
holiday_events.head()

,dates,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [5]:
main = pd.read_csv("../data/train.csv")
main.head()

   id       dates  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

In [6]:
stores = pd.read_csv("../data/stores.csv")
stores.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [7]:
print(f"main length\t\t\t\t = {main.shape[0]}")
print(f"stores length\t\t\t = {stores.shape[0]}")
print(f"oil length\t\t\t\t = {oil.shape[0]}")
print(f"transactions length\t\t = {transactions.shape[0]}")
print(f"holiday_events length\t = {holiday_events.shape[0]}")

main length				 = 3000888
stores length			 = 54
oil length				 = 1218
transactions length		 = 83488
holiday_events length	 = 350

In [8]:
columns = {"date": "dates"}
main.rename(columns=columns, inplace=True)
oil.rename(columns=columns, inplace=True)
transactions.rename(columns=columns, inplace=True)
holiday_events.rename(columns=columns, inplace=True)

In [9]:
main.to_csv("../data/train.csv", index=False)
oil.to_csv("../data/oil.csv", index=False)
transactions.to_csv("../data/transactions.csv", index=False)
holiday_events.to_csv("../data/holidays_events.csv", index=False)

In [10]:
main.nunique()

id             3000888
dates             1684
store_nbr           54
family              33
sales           379610
onpromotion        362
dtype: int64

In [11]:
oil.nunique()

dates         1218
dcoilwtico     998
dtype: int64

In [12]:
stores.nunique()

store_nbr    54
city         22
state        16
type          5
cluster      17
dtype: int64

In [13]:
holiday_events.nunique()

dates          312
type             6
locale           3
locale_name     24
description    103
transferred      2
dtype: int64

In [14]:
transactions.nunique()

dates           1682
store_nbr         54
transactions    4993
dtype: int64